
.icon {
  padding-right: 10px;
}

.menuSize {
  font-size: 
}

.navbar {
  background-image: url('../img/vegbasket.jpg');
  background-size: cover;
  height: 240px; 
  display: flex;
  /* justify-content: flex-start; */
  align-items: center;
  border-bottom: 3px solid white;
  
} 

/* .nav {
  background-color:  #081520;
  width: 250px; 
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 9999;
  
} */

.nav-link {
  /* float: left;  */
  /* color: #f2f2f2;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none; 
  font-size: 15px;  */

  /*these last two make the logout button in
  the nav bar look like another link */
 border:none;
  cursor: pointer;
  outline:0; 
  background-color: #081520;
  color: white;
  font-size: 18px;
  padding-left: 20px;
  text-decoration: none; 
  border-radius: 5%;
  
} 

.nav-link:hover {
  background-color: rgb(69, 109, 109);
  color: black;
  width: 100%;
}

.menu-bars {
  margin-left: 2rem;
  margin-right: 0;
  /* font-size: 2rem; */
  background:  none;
  width: 50px;

}  

.nav-menu.active {
  left: 0;
  transition: 350ms;
}
.nav-menu {
  background-color:  #081520;
  width: 250px; 
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 9999;

}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: left;
  padding: 5px 0px 5px 1px;
  height: 60px;
  list-style: none;
  color: #fff9e6;
  text-decoration: none;
}

.nav-text a {
  text-decoration: none;
  color: #fff9e6;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;

}

.nav-text a:hover {
  background-color: rgb(69, 109, 109);
  color: black;
}

button.nav-link a:hover {
  background-color: rgb(69, 109, 109);
  color: black;
}

.nav-menu-items {
  width: 100%;
  text-align: left;
}

.navbar-toggle{
  background-color: #081520;;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0;
}


.title {
  margin-left: 5%;
  color: #fff9e6;
  font-family: Copperplate;
  font-size: 3.5rem;
  text-align: center;
  justify-content: flex-start;
  display: inline-block;
  -webkit-text-stroke: 2px black;
  width: 80%;
 
}

